
body {
    background-color: white;
}

.border {
    background: solid, fixed, #2a2a2a;
    opacity: 0.4;
    margin: 20px;
    border: solid dimgrey;
    border-radius: 10px;
}

p {
    color: white;
    font-family: 'Josefin Sans';
}

h1 {
    color: white;
    font-family: 'Josefin Sans', cursive;
}