
body {
    background-image: #000000;
    filter: blur(5px);
}

.pageborder {
    background: solid, fixed;
    background-color: #2a2a2a;
    opacity: 0.4;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    color: white;
    font-family: 'Josefin Sans';
}

h1 {
    color: white;
    font-family: 'Tilt Prism', cursive;
}